svg {
  margin: 0 auto;
  display: block;
}

.arc {
  stroke: black;
}

.flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 20px;
  flex-wrap: wrap;
}

body {
	padding: 50px;
}